@using Microsoft.AspNetCore.Identity;
@using MyBlog.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model MyBlog.ViewModels.Articles.AllArticlesViewModel

@{
    ViewData["Title"] = "Все статьи";
}

<h3>@ViewData["Title"]</h3>
<a asp-action="Create">Добавить статью</a>

@if (Model.Articles != null)
{
    <div class="card-container">
        @foreach (var item in Model.Articles)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="View" asp-route-id="@item.Id">@item.Title</a></h5>

                    @if (item.Tegs != null)
                    {
                        @foreach (var teg in item.Tegs)
                        {
                            <span class="badge bg-primary">@teg.Content</span>
                        }
                    }
                    <p>Просмотров: @item.CountView</p>

                    @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("Moderator") || item.User?.Id == Model.CurrentUser)
                    {
                        <div class="center content-flex-end">
                            <a class="btn btn-logout" asp-action="Update" asp-route-id="@item.Id">Редактировать</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
