@model MyBlog.ViewModels.Articles.AllArticlesViewModel

@{
    ViewData["Title"] = "Все статьи";
}

<h3>@ViewData["Title"]</h3>
<a asp-action="CreateArticle">Добавить статью</a>

@if (Model.Articles != null)
{
    <div class="card-container">
        @foreach (var item in Model.Articles)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="ViewArticle" asp-route-id="@item.Id">@item.Title</a></h5>

                    @if (item.Tegs != null)
                    {
                        @foreach (var teg in item.Tegs)
                        {
                            <span class="badge bg-primary">@teg.Content</span>
                        }
                    }

                    <p>Просмотров:</p>
                    <div class="center">
                        <button type="button" class="btn btn-logout" asp-action="Update">Редактировать</button>
                        <button type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</button>
                    </div>
                </div>
            </div>
        }
    </div>
}
