@model MyBlog.ViewModels.Articles.AllArticlesViewModel

@{
    ViewData["Title"] = "Все статьи";
}

<h3>@ViewData["Title"]</h3>
<a asp-action="CreateArticle">Добавить статью</a>

@if (Model.Articles != null)
{
    <div class="card-container">
        @foreach (var item in Model.Articles)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="ViewArticle" asp-route-id="@item.Id">@item.Title</a></h5>

                    @if (item.Tegs != null)
                    {
                        @foreach (var teg in item.Tegs)
                        {
                            <span class="badge bg-primary">@teg.Content</span>
                        }
                    }
                    <p>Просмотров: @item.CountView</p>

                    <div class="center content-flex-end">
                        <form asp-controller="Article" asp-action="Update" asp-route-article="@item" method="post">
                            <button type="submit" class="btn btn-logout">
                                Редактировать
                            </button>
                        </form>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Удалить
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Внимание! После нажатия на кнопку "удалить" вы не сможете вернуть статью! Будьте очень внимательны!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Не удалять</button>
                                        <form asp-controller="Article" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                            <button type="submit" class="btn btn-outline-danger">
                                                Удалить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
