@model MyBlog.ViewModels.Articles.UpdateArticleViewModel

@{
    ViewData["Title"] = "Редактирование  статьи";
}

<div class="block-reg background-white">
    <h3 class="center">@ViewData["Title"]</h3>


    <form class="frm" method="post" asp-controller="Article" asp-action="Update">
        <div asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="Id" value="@Model.Id" />

        @if (Model.TegList != null)
        {
            foreach (var item in Model.TegList)
            {
                <input type="checkbox" name="tegsCurrent" value="@item.Id"
               @(Model.UserTegs.Contains(item) ? "checked=\"checked\"" : "") />
                @item.Content <br />
            }
        }

        <div class="mrgn">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mrgn">
            <textarea rows="10" asp-for="Content" class="form-control"> </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="center">
            <input class="enter_submit" type="submit" value="Сохранить изменения" />
        </div>
    </form>

    <a asp-action="Index">Выйти без сохраниения</a>
</div>
