@model MyBlog.ViewModels.Articles.ArticleViewModel

@{
    ViewData["Title"] = @Model.Article?.Title;
}

<h3>@ViewData["Title"]</h3>

@if (Model.Article?.Tegs != null)
{
    @foreach (var teg in Model.Article.Tegs)
    {
        <span class="badge bg-primary">@teg.Content</span>
    }
}

<label class="fs-6 fw-normal lh-sm">@Model.Article?.Content</label>
<hr>
<p class="fs-6 fw-normal text-end">@Model.Article?.User?.Email</p>

@if (Model?.Article?.Comments != null)
{   
    @foreach (var comment in Model.Article.Comments)
    {
        <div class="card">           
            <div class="card-body">
                <p class="card-text">@comment.Content</p>
            </div>
            <div class="card-footer text-muted text-end">
                @comment.User?.Email @comment.Created
            </div>
        </div>
        <br>
    }
}

<form class="frm" method="post" asp-controller="Comment" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" name="idArticle" value="@Model?.Article?.Id" />  

    <div class="mrgn">
        <textarea rows="5" name="content" class="form-control"> </textarea>   
    </div>

    <div class="center">
        <input class="enter_submit" type="submit" value="Добавить комментарий" />
    </div>
</form>



