@using Microsoft.AspNetCore.Identity;
@using Contracts.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model Contracts.ViewModels.Articles.ArticleViewModel

@{
    ViewData["Title"] = @Model.Article?.Title;
}

<h3>@ViewData["Title"]</h3>

@if (Model.Article?.Tegs != null)
{
    @foreach (var teg in Model.Article.Tegs)
    {
        <span class="badge bg-primary">@teg.Content</span>
    }
}
<br>
<label style="white-space: pre-line" class="fs-6 fw-normal lh-sm">@Model.Article?.Content</label>
<hr>
<p class="fs-6 fw-normal text-end">@Model.Article?.User?.Email</p>

@if (Model?.Article?.Comments != null)
{   
    @foreach (var comment in Model.Article.Comments)
    {
        <div class="card">           
            <div class="card-body">
                <p style="white-space: pre-line" class="card-text">@comment.Content</p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div>
                        @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("Moderator") || comment.UserId == Model.CurrentUser)
                        {
                            <a class="btn btn-sm btn-outline-success" asp-controller="Comment" asp-action="Update" asp-route-id="@comment.Id">Редактировать</a>
                            <a class="btn  btn-sm btn-outline-danger" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id">Удалить</a>
                        }     
                    </div>
                    <div>
                        <span class="badge bg-info text-dark">@comment.User?.Email</span>
                        @comment.Created  
                    </div>
                </div>    
            </div>
        </div>
        <br>
    }
}

<form class="frm" method="post" asp-controller="Comment" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Article!.Id" value="@Model?.Article?.Id" />

    <div class="mrgn">
        <textarea rows="5" asp-for="CommentContent" class="form-control"> </textarea>
        <span asp-validation-for="CommentContent" class="text-danger"></span>
    </div>

    <div class="center">
        <input class="btn btn btn-outline-success" type="submit" value="Добавить комментарий" />
    </div>
</form>