@model IEnumerable<MyBlog.Models.Users.User>

@{
    ViewData["Title"] = "Список пользователей";
}

<h3>@ViewData["Title"]</h3>

<a asp-action="RoleList">Список ролей</a>

<div class="user-list">
    <table class="table">

        <tr>      
            <th>Имя, фамилия</th>          
            <th>Логин</th>
            <th>Эл. почта</th>
            <th>Права доступа</th>
            <th>Подробно</th>
            <th>Удаление</th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.GetFullName()
                </td>                
                <td>
                    @user.UserName
                </td>               
                <td>
                    @user.Email
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="UserPage" asp-route-userid="@user.Id">Блоги пользователя</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="DeleteUser" asp-route-userid="@user.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>