@model Contracts.ViewModels.Comments.CommentViewModel

@{
    ViewData["Title"] = "Все комментарии";
}

<h3>@ViewData["Title"]</h3>
@if (Model.Comment != null)
{
    <div class="card-container">
        @foreach (var item in Model.Comment)
        {
            <div class="card">

                <div class="card-header">
                    <a asp-controller="Article" asp-action="View" asp-route-id="@item.Article?.Id">@item.Article?.Title</a>
                </div>
                <div class="card-body">
                    <p class="card-text">@item.Content</p>

                    @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("Moderator") || item.User?.Id == Model.CurrentUser)
                    {
                        <div class="center content-flex-end">
                            <a class="btn btn-outline-success" asp-action="Update" asp-route-id="@item.Id">Редактировать</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </div>
                    }
                </div>
                <div class="card-footer text-muted text-end">
                    <span class="badge bg-info text-dark">@item.User?.Email</span>
                    @item.Created
                </div>
            </div>
        }
    </div>
}


